services:
  db:
    image: postgres:16
    container_name: enf_db
    restart: always
    environment:
      POSTGRES_DB: enf-sanar
      POSTGRES_USER: enf123
      POSTGRES_PASSWORD: sanar123
    volumes:
      - enf_db:/var/lib/postgresql/data
    networks:
      - sanar_net

  app:
    image: j3ffer/enfsanar-api:latest   # <--- esta la construyes y subes desde Jenkins
    container_name: esanar-api
    restart: always
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://enf_db:5432/enf-sanar
      DB_USER: myuser
      DB_PASSWORD: superpass123
      JWT_KEY: df077d8f28a73a9350111cf6832caf1d1a03353748f1ed02e2d1d91dae7ff121_
      JWT_USER: restSanarJWT
    networks:
      - sanar_net
    ports:
      - "80:8080"  # Expones la API hacia internet

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60 --cleanup
    # --interval 60 => revisa cada 60s si hay nuevas versiones
    # --cleanup => borra imágenes viejas automáticamente
volumes:
  enf_db:
networks:
  sanar_net:
